{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {% trans "Change Password" %}
{% endblock title %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Account" title="Change Password" %}
                {% endblock pagetitle %}
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">
                            <div class="card-body p-4">
                                <div class="p-2 mt-4">
                                    <form class="needs-validation"
                                          novalidate
                                          method="POST"
                                          action="{% url 'account_change_password' %}">
                                        {% for message in messages %}
                                            <div class="alert {{ message.tags }} mb-4" role="alert">
                                                <strong>{{ message }}</strong>
                                            </div>
                                        {% endfor %}
                                        {% csrf_token %}
                                        <div class="mb-3">{{ form.oldpassword|as_crispy_field }}</div>
                                        <div class="mb-3">{{ form.password1|as_crispy_field }}</div>
                                        <div class="mb-3">{{ form.password2|as_crispy_field }}</div>
                                        <div class="mt-4">
                                            <button class="btn btn-success w-100" type="submit">{% trans "Change Password" %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <!-- password-addon init -->
    <script src="{% static 'js/pages/password-addon.init.js'%}"></script>
{% endblock extra_js %}
