{% load static %}
{% for notification in notifications|slice:":10" %}
    <div class="text-reset notification-item d-block dropdown-item position-relative">
        <div class="d-flex">
            {% if notification.type == notification.Type.ERROR %}
                <img src=" {% static 'images/users/error.png' %} "
                     class="me-3 rounded-circle avatar-xs"
                     alt="user-pic">
            {% elif notification.type == notification.Type.WARNING %}
                <img src="{% static 'images/users/attention-1.png' %}"
                     class="me-3 rounded-circle avatar-xs"
                     alt="user-pic">
            {% else %}
                <img src="{% static 'images/users/idea.png' %}"
                     class="me-3 rounded-circle avatar-xs"
                     alt="user-pic">
            {% endif %}
            <div class="flex-1">
                <a href="#!" class="stretched-link">
                    <h6 class="mt-0 mb-1 fs-13 fw-semibold">{{ notification.subject }}</h6>
                </a>
                <div class="fs-13 text-muted">
                    <p class="mb-1">{{ notification.message }}</p>
                </div>
                <p class="mb-0 fs-11 fw-medium text-uppercase text-muted">
                    <span><i class="mdi mdi-clock-outline"></i> {{ notification.created|date:"D-M-Y" }}</span>
                </p>
            </div>
            <div class="px-2 fs-15">
                <input class="form-check-input" type="checkbox" />
            </div>
        </div>
    </div>
{% endfor %}
