{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Team Details
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Teams" title="Team Details" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Team Details</h5>
                                </div>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text"
                                                       id="searchInput"
                                                       class="form-control search bg-light border-light"
                                                       placeholder="Search for name or ID...">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <!--end card-body-->
                            <div class="card-body">
                                <div class="table-responsive table-card mb-4">
                                    <table class="table align-middle table-nowrap mb-0"
                                           id="teamDetailsTable"
                                           data-server-side="true">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th data-data="id">ID</th>
                                                <th data-data="first_name">Name</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                                {% include "partials/pagination.html" with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">
                                    Team Details
                                    <span class="badge {% if sales_task.status == 2 %} badge-soft-secondary {% elif sales_task.status == 3 %} badge-soft-danger {% else %} badge-soft-success {% endif %} text-uppercase fs-12">{{ sales_task.get_status_display }}</span>
                                </h5>
                                <div class="flex-shrink-0"></div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                    <li>
                                        <b>Name: </b>{{ team.name }}
                                    </li>
                                    <li>
                                        <b>Number Of Users: </b>{{ totalUsers }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script>
 $(document).ready(function () {

      var table = $('#teamDetailsTable').DataTable({
        "ajax": {
            "url": "/api/teamdetails/?format=datatables&team={{team.id}}",
        },
        "dom": 'lrtip',
                "columnDefs": [
                    {
                        // Hide the ID column
                        targets: 0,
                        visible: true,
                        searchable: true,
                    }]
                 });
    $('#searchInput').on( 'keyup', function () {
      table.search( this.value ).draw();
    });
 });
    </script>
{% endblock extra_js %}
