{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Tasks List
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Teams" title="Team List" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card"  id="tasksList">
                            <div class="card-header border-0">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">All Teams</h5>
                                    <div class="flex-shrink-0">
                                        {% if perms.teams.add_team %}
                                            <a role="button"
                                               href="{% url 'teams:team_create' %}"
                                               class="btn btn-danger add-btn">
                                                <i class="ri-add-line align-bottom me-1"></i> Create Team
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text"
                                                       class="form-control search bg-light border-light"
                                                       placeholder="Search..."
                                                       id="id_search">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <!--end card-body-->
                            <div class="card-body">
                                <div class="table-responsive table-card mb-4">
                                    <table class="table align-middle table-nowrap mb-0"
                                           id="teamsTable"
                                           data-server-side="true"
                                           data-ajax="/api/team/?format=datatables">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th data-data="id">ID</th>
                                                <th data-data="name">Team</th>
                                                <th data-data="created">Created</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="modal fade flip"
                     id="deleteOrder"
                     tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body p-5 text-center">
                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                <div class="mt-4 text-center">
                                    <h4>You are about to delete ?</h4>
                                    <p class="text-muted fs-14 mb-4">
                                        Deleting your task will remove all of
                                        your information from our database.
                                    </p>
                                    <div class="hstack gap-2 justify-content-center remove">
                                        <button class="btn btn-link btn-ghost-success fw-medium text-decoration-none"
                                                data-bs-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i> Close
                                        </button>
                                        <a class="btn btn-danger" id="delete-record">Yes, Delete It</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end delete modal -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/moment-2.29.2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript">
    var table = $('#teamsTable').DataTable( {
        "dom": 'lrtip',
        "columnDefs": [
        {
            targets: 2,
            render: (data, type, row)=>{
                return moment.utc(row.created).format('MMM DD, YYYY hh:mm A');
            }
        },
        {
            targets: -1,  // -1 is the last column, 0 the first, 1 the second, etc.
            sortable: false,
            searchable: false,
            // The `data` parameter refers to the data for the cell.
            // The `rows`argument is an object representing all the data for the current row.
            render: ( data, type, row ) => {
                
                let viewTeamURL = "{% url 'teams:team_details' pk=0 %}"
                let editTeamURL = "{% url 'teams:team_edit' pk=0 %}"
                let deleteTeamURL = "{% url 'teams:team_delete' pk=0 %}"
                
                let actions =  `<ul class="list-inline hstack gap-2 mb-0">`
                    
                    {% if perms.teams.change_team %}
                    actions += `<li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                    <a href="${editTeamURL.replace('0', row.id)}" class="text-primary d-inline-block edit-item-btn">
                        <i class="ri-pencil-fill fs-16"></i>
                    </a>
                </li>`
                {% endif %}
                
                {% if perms.teams.view_team %}
                    actions += `
                    <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="view">
                    <a href="${viewTeamURL.replace('0', row.id)}" class="text-primary d-inline-block edit-item-btn">
                        <i class="ri-eye-fill fs-16"></i>
                    </a>
                    </li>`
                {% endif %}
                
                {% if perms.teams.delete_team %}
                actions += `<li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                <a class="delete-btn text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" data-url="${deleteTeamURL.replace('0', row.id)}">
                <i class="ri-delete-bin-5-fill fs-16"></i>
            </a>
        </li>`
        {% endif %}
        
        
        actions += `</ul>`
        return actions
    },
    
}
]
} );

$(document).ready(function(){
    // Update the Delete URL in Delete Confirm Modal
    $('#teamsTable').on('click', '.delete-btn', (event) => {
        $('#delete-record').attr('href', $(event.currentTarget).data('url'))
    })
    
    // Filters for table
    $('#id_search').on('keyup', function () {
        table.search( this.value ).draw();
    } );
})
    </script>
{% endblock extra_js %}
