{% extends 'layouts/base.html' %}

{% block title %}
  SkillAndInterest
{% endblock %}
{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">
              {% if object %}
                Edit
              {% else %}
                Add
              {% endif %}SkillAndInterest
            </h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'accounts:skillandinterest_list' %}">SkillAndInterest</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {% if object %}
                    Edit
                  {% else %}
                    Add
                  {% endif %}SkillAndInterest
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--5">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">
                  {% if object %}
                    Edit
                  {% else %}
                    Add
                  {% endif %}SkillAndInterest
                </h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="form-control-label" for="id_name">Name</label>
                    <div class="form-group">{{ form.name }}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="id_category">Category</label>
                      {{ form.category }}
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <div class="col-lg-4">
                <button type="submit" class="btn btn-primary"><span>Save</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock %}
