{% extends 'layouts/base.html' %}

{% block title %}
  Profile
{% endblock %}
{% block content %}
  <div class="header pb-6 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--5">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Edit profile</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="" method="POST">
              {% csrf_token %}
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="id_first-name">First name</label>
                      <input type="text" id="id_first-name" name="first_name" class="form-control" placeholder="First name" value="{{ request.user.first_name }}" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="id_last-name">Last name</label>
                      <input type="text" id="id_last-name" name="last_name" class="form-control" placeholder="Last name" value="{{ request.user.last_name }}" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="id_email">Email address</label>
                      <input type="email" id="id_email" name="email" class="form-control" placeholder="{{ request.user.email }}" value="{{ request.user.email }}" disabled />
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="id_address">Address</label>
                      <input id="id_address" name="address" class="form-control" placeholder="Home Address" value="{{ request.user.address }}" type="text" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="id_city">City</label>
                      <input type="text" id="id_city" name="city" class="form-control" placeholder="City" value="{{ request.user.city }}" />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="id_country">Country</label>
                      {{ form.country }}
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <div class="col-lg-4">
                <button type="submit" class="btn btn-primary"><span>Save</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock %}
