{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Add Your Interest {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
        
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-2">
              <div class="text-muted text-center mt-2 mb-4">
                Add Your Interest
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">

              {% if not success %}

                <form method="POST">

                  {% csrf_token %}
          
                  <div class="form-row">
                    <div class="form-group">
                        {{ form.learning_interests }}
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Next</button>
                  </div>
                </form>

              {% endif %}  
  
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
