{% extends 'layouts/base.html' %}
{% block title %}
  Profile Detail
{% endblock %}
{% block content %}
  <div class="header pb-6 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--5">
    <div class="row">
      <div class="col-xl order-xl">
        <div class="card card-profile">
          <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top" />
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  {% if object.photo %}
                    <img src="{{ object.photo.url }}" class="rounded-circle" />
                  {% else %}
                    <img src="/static/assets/img/theme/team-1.jpg" class="rounded-circle" />
                  {% endif %}
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <button type="button" id="btn-message" class="btn btn-sm btn-default float-left">Message</button>
              <!--<a href="{% url 'feedback:review_create' reviewed_user=object.id %}" class="btn btn-sm btn-default float-right">Review</a>-->
              <button type="button" class="btn btn-sm btn-default float-right" data-toggle="modal" data-target="#feedbackModal">
                Review
              </button>
            </div>
          </div>
          <div class="card-body pt-2">
            <div class="text-center">
              <h5 class="h3">{{ object.get_full_name }}</h5>
              <div class="h5 font-weight-300">{{ object.email }}</div>
              <div class="h3 mt-4">Skills</div>
              <div class="h4 font-weight-300">
                {% for skill in object.skills.all %}
                  {{ skill.name }}
                  {% if not forloop.last %}|{% endif %}
                {% endfor %}
              </div>
              <div class="h3 mt-1">Experience Level</div>
              <div class="h4 font-weight-300">{{ object.get_experience_level_display }}</div>
              <div class="h3 mt-1">Learning Interests</div>
              <div class="h4 font-weight-300">
                {% for learning_interest in object.learning_interests.all %}
                  {{ learning_interest.name }}
                  {% if not forloop.last %}|{% endif %}
                {% endfor %}
              </div>
              <div class="mt-5 col-6 mx-auto">
                <!--<a href="{% url 'scheduling:meetingproposal_create' proposee=object.id %}" class="btn btn-default btn-block">Schedule</a>-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#meetingModal">
                  Schedule a Meeting
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Reviews Section -->
        <div class="card mt-4">
          <div class="card-header">
            <div class="row justify-content-center">
              <h2>Reviews</h2>
            </div>
            <h3 class="card-title">
              Average Rating:{% if average_rating == 1 %}
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              {% elif average_rating == 2 %}
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              {% elif average_rating == 3 %}
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              {% elif average_rating == 4 %}
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star"></i>
              {% elif average_rating == 5 %}
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
              {% endif %}
            </h3>
          </div>
          <div class="card-body">
            <ul>
              {% for review in reviews %}
                <li>
                  <strong>Rating:</strong>
                  {% if review.rating == 1 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  {% elif review.rating == 2 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  {% elif review.rating == 3 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  {% elif review.rating == 4 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star"></i>
                  {% elif review.rating == 5 %}
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-star text-warning"></i>
                  {% endif %}
                  <br />
                  <strong>Reviewer:</strong> {{ review.reviewer.get_full_name }} <br />
                  <strong>Feedback:</strong> {{ review.feedback_content }} <br />
                  <!-- Add more review details here as needed -->
                </li>
                <hr />
                {% empty %}
                <li>No reviews available.</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- End Reviews Section -->
        <!-- Schedule Meeting Modal -->
        <div class="modal fade" id="meetingModal" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Schedule Meeting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              <form id="schedule-meeting-form" action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="proposer" value="{{ request.user.id }}" />
                <input type="hidden" name="proposee" value="{{ object.id }}" />
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-6">
                      <label class="form-control-label" for="proposed_time">Date</label>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                          </div>
                          <input class="flatpickr datetimepicker form-control" name="proposed_time" id="proposed_time" type="text" placeholder="Select Date and Time">
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="meeting_type" value="1" id="radio_button_online" checked>
                          <label class="form-check-label" for="radio_button_online">
                            Online
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="meeting_type" value="2" id="radio_button_in_person">
                          <label class="form-check-label" for="radio_button_in_person">
                            In-Person
                          </label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="proposed_location">Location</label>
                      <div class="input-group">
                        <input class="form-control" name="proposed_location" id="proposed_location" type="text" placeholder="Enter location" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-primary"><span>Request Meeting</span></button>
                  </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Schedule Meeting Modal End -->
        <!-- Feedback Modal -->
        <div class="modal fade" id="feedbackModal" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Feedback</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="feedback-form" action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="reviewed_user" value="{{ object.id }}" />
                  <input type="hidden" name="reviewer" value="{{ request.user.id }}" />
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group d-flex justify-content-center">
                        <textarea class="form-control" rows="4" name="feedback_content" placeholder="Enter your feedback here..."></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group d-flex justify-content-center">
                        <div class="star-rating">
                          <input type="hidden" name="rating" id="rating" value="0" />
                          <span class="star" data-rating="1"><i class="fa fa-star"></i></span>
                          <span class="star" data-rating="2"><i class="fa fa-star"></i></span>
                          <span class="star" data-rating="3"><i class="fa fa-star"></i></span>
                          <span class="star" data-rating="4"><i class="fa fa-star"></i></span>
                          <span class="star" data-rating="5"><i class="fa fa-star"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-primary"><span>Submit</span></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Schedule Meeting Modal End -->
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  $(document).ready(function () {
    const radioButtons = document.querySelectorAll('input[name="flexRadioDefault"]');
    const proposed_location_field = document.getElementById('proposed_location');
    // Add event listener to each radio button
    radioButtons.forEach((radioButton) => {
        radioButton.addEventListener('change', function() {
            // Check if the "In-Person" radio button is selected
            if (this.value === '2') {
                // If "In-Person" is selected, enable the input field
                proposed_location_field.disabled = false;
            } else {
                // If "Online" is selected or if none is selected, disable the input field
                proposed_location_field.disabled = true;
            }
        });
    });
    $("#schedule-meeting-form").on("submit", function (event) {
      event.preventDefault();
      form = $(this);
      $.ajax({
        type: "POST",
        url: "/api/meetingproposal/",
        data: form.serialize(),
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function (data) {
          debugger
          $("#meetingModal").modal("hide");
          form[0].reset();
          Toast.fire({
            title: "Meeting request sent successfully!",
            icon: "success"
          });
        }

      })
    })

    $("#feedback-form").on("submit", function (event) {
      event.preventDefault();
      form = $(this);
      $.ajax({
        type: "POST",
        url: "/api/review/",
        data: form.serialize(),
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function (data) {
          $("#feedbackModal").modal("hide");
          Toast.fire({
            title: "Feedback submitted successfully!",
            icon: "success"
          });
        },
        complete: function () {
          window.location.reload()
        }

      })
    })

    const stars = document.querySelectorAll('.star')
    stars.forEach(function (star) {
      star.addEventListener('click', function () {
        const rating = this.dataset.rating
        document.getElementById('rating').value = rating // Set the value of the hidden input
        stars.forEach(function (s) {
          if (s.dataset.rating <= rating) {
            s.style.color = 'orange' // Fill stars up to the selected rating
          } else {
            s.style.color = '' // Empty stars after the selected rating
          }
        })
      })
    })

    $("#btn-message").on("click", function () {
      $.ajax({
        type: "POST",
        url: "/api/conversation/",
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        data: {
          "receiver": "{{ object.id }}",
        },
        success: function (data) {
          url = "{% url 'messaging:conversation_detail' pk=0 %}"
          window.location.href = url.replace('0', data.id)
        }
      })
    })
  })
</script>
{% endblock %}
