{% extends "partials/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
    Robot Details
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
    <!--datatable css-->
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Robot" title="Robot Details" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Sales Task</h5>
                                    <div class="flex-shrink-0 float-right">
                                        {% if perms.robots.add_salestask %}
                                            <a href="javascript:void(0)"
                                               data-id=""
                                               class="btn btn-danger add-btn"
                                               data-bs-toggle="modal"
                                               data-bs-target="#salestasklist">
                                                <i class="ri-add-line align-bottom me-1"></i> Create Sales Task
                                            </i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body border border-dashed border-end-0 border-start-0">
                            <form>
                                <div class="row g-3">
                                    <div class="col-xxl-5 col-sm-12">
                                        <div class="search-box">
                                            <input type="text"
                                                   id="searchInput"
                                                   class="form-control search bg-light border-light"
                                                   placeholder="Search for sales task or something...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <!--end card-body-->
                        <div class="card-body">
                            <div class="table-responsive table-card mb-4">
                                <table class="table align-middle table-nowrap mb-0" id="Outbound-table">
                                    <thead class="table-light text-muted">
                                        <tr>
                                            <th>Name</th>
                                            <th>Active</th>
                                            <th>No. Of Leads</th>
                                            <th>URL</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list form-check-all">
                                        {% for row in object_list %}
                                            <tr>
                                                <td>{{ row.name }}</td>
                                                <td>
                                                    {%  if  row.get_status_display == 'Active' %}
                                                        on {% else %}off
                                                    {% endif %}
                                                </td>
                                                <td>{{ row.lead_set.all|length }}</td>
                                                <td>
                                                    <li class="list-inline-item view"
                                                        data-bs-toggle="tooltip"
                                                        data-bs-trigger="hover"
                                                        data-bs-placement="top"
                                                        title="website url">
                                                        <a role="button"
                                                           href="{{ row.search_url }}"
                                                           class="text-primary d-inline-block edit-item-btn"
                                                           target="_blank"
                                                           style="{% if not row.search_url %}pointer-events: none;{% endif %}"><i class="ri-globe-fill fs-16"
   style="{% if not row.search_url %}color:grey;{% endif %}"></i></a>
                                                    </li>
                                                </td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        {% if perms.robots.change_salestask %}
                                                            <li class="list-inline-item edit"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-trigger="hover"
                                                                data-bs-placement="top"
                                                                title="Edit">
                                                                <a href="{% url 'robots:salestask_edit' pk=row.id %}"
                                                                   class="text-primary d-inline-block edit-item-btn">
                                                                    <i class="ri-pencil-fill fs-16"></i>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div>
                            {% include "partials/pagination.html" with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex align-items-center">
                                <h1 class="card-title mb-0 flex-grow-1">Outbound Emails</h1>
                                <div class="flex-shrink-0">
                                    {% if perms.robots.add_outboundemail %}
                                        <a href="javascript:void(0)"
                                           data-id=""
                                           class="btn btn-danger add-btn"
                                           data-bs-toggle="modal"
                                           data-bs-target="#outbondemail">
                                            <i class="ri-add-line align-bottom me-1"></i> Add Outbound Emails
                                        </i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body border border-dashed border-end-0 border-start-0">
                        <form>
                            <div class="row g-3">
                                <div class="col-xxl-5 col-sm-12">
                                    <div class="search-box">
                                        <input type="text"
                                               id="searchInput2"
                                               class="form-control search bg-light border-light"
                                               placeholder="Search for outbound emails or something...">
                                        <i class="ri-search-line search-icon"></i>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </form>
                    </div>
                    <!--end card-body-->
                    <div class="card-body">
                        <div class="table-responsive table-card mb-4">
                            <table class="table align-middle table-nowrap mb-0" id="slaestask-table">
                                <thead class="table-light text-muted">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    {% for row in Outbound_email %}
                                        <tr>
                                            <td class="client_name">{{ row.name }}</td>
                                            <td class="client_name">{{ row.email }}</td>
                                            <td class="client_name">{{ row.get_status_display }}</td>
                                            <td>
                                                <ul class="list-inline hstack gap-2 mb-0">
                                                    {% if perms.robots.change_outboundemail %}
                                                        <li class="list-inline-item edit"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-trigger="hover"
                                                            data-bs-placement="top"
                                                            title="Edit">
                                                            <a href="{% url 'robots:outboundemail_edit' pk=row.id %}"
                                                               class="text-primary d-inline-block edit-item-btn">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--end table-->
                        </div>
                        {% include "partials/pagination.html" with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
                    </div>
                    <!--end card-body-->
                </div>
            </div>
            <!--end col-->
            <div class="col-xl-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Robot Detail</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                            <li>
                                <b>Name: </b>{{ robot.name }}
                            </li>
                            <li>
                                <b>Team:</b> {{ robot.team }}
                            </li>
                            <li title="Contact">
                                <b>Description</b>: {{ robot.description }}
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
<div id="salestasklist"
     class="modal fade"
     tabindex="-1"
     aria-labelledby="personUpdateLabel"
     aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form action="" id="SalesTaskCreateForm" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="personUpdateLabels">Add Sales Task</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">{{ form.name|as_crispy_field }}</div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">{{ form.source|as_crispy_field }}</div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">{{ form.robot|as_crispy_field }}</div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">{{ form.sales_template|as_crispy_field }}</div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">{{ form.job_title_for_email|as_crispy_field }}</div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">{{ form.search_url|as_crispy_field }}</div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">{{ form.status|as_crispy_field }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                        <div class="text-end mb-4">
                            <a href="{% url 'robots:robot_details' pk=robot.id %}"
                               class="btn btn-light w-sm">Cancel</a>
                            <button type="submit" class="btn btn-success w-sm">
                                Create
                            </button>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="outbondemail"
     class="modal fade"
     tabindex="-1"
     aria-labelledby="personUpdateLabel"
     aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form action="" id="outbondemailcreateform" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="personUpdateLabel">
                        Add Outbond Email
                    </h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ forms.first_name|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ forms.last_name|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ forms.email|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ forms.password|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ forms.robot|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ forms.daily_limit|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ forms.type|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            {{ forms.status|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            {{ forms.locked_until|attr:'data-provider:flatpickr'|attr:'data-date-format:Y-m-d H:i'|attr:'data-enable-time'|attr:'data-minDate:today'|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->
                        <div class="text-end mb-4">
                            <a href="{% url 'robots:robot_details' pk=robot.id %}"
                               class="btn btn-light w-sm">Cancel</a>
                            <button type="submit" class="btn btn-success w-sm">
                                Create
                            </button>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% block footer %}
    {% include "partials/footer.html" %}
{% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script>
 $(document).ready(function () {

    var table_first = $('#slaestask-table').DataTable({
        "dom": 'lrtip',
        "columnDefs": [{
            // Hide the ID column
            targets: 0,
            visible: true,
            searchable: true,
        }]
    });

    var table_second = $('#Outbound-table').DataTable({
        "dom": 'lrtip',
        "columnDefs": [{
            // Hide the ID column
            targets: 0,
            visible: true,
            searchable: true,
        }]
    });

    $('#searchInput').on( 'keyup', function () {
        table_second.search( this.value ).draw();
    });

    $('#searchInput2').on( 'keyup', function () {
        table_first.search( this.value ).draw();
    });

    // Create the Sales Task
    $('#SalesTaskCreateForm').submit(function(e){
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        $.ajax({
            type: "POST",
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: `/api/salestask/`,
            data: form.serialize(), // serializes the form's elements.
            success: (response) => {
                $('#salestasklist').modal('hide');
                form.trigger("reset");
                $('.close-btn').trigger('click')
                location.reload(true);
            },
            error: (xhr, status, error) => {
                // Handle Ajax Error for API
                var err = eval("(" + xhr.responseText + ")");
                console.error(err)
                if(Object.keys(err).length){
                    Object.keys(err).forEach((field) => {
                        Toastify({
                            text: `${field}: ${err[field]}`,
                            className: 'bg-danger',
                            style: {
                              'text-transform': "capitalize",
                            },
                        }).showToast();
                    })

                } else {
                    Toastify({
                      text: "Oops something went wrong.",
                      className: 'bg-danger'
                    }).showToast();
                }
            }
        });
    });

    $('#outbondemailcreateform').submit(function(e){
        e.preventDefault(); // avoid to execute the actual submit of the form.
        var form = $(this);
        $.ajax({
            type: "POST",
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: `/api/outboundemail/`,
            data: form.serialize(), // serializes the form's elements.
            success: (response) => {
                $('#outbondemail').modal('hide');
                form.trigger("reset");
                $('.close-btn').trigger('click')
                location.reload(true);
            },
            error: (xhr, status, error) => {
                // Handle Ajax Error for API
                var err = eval("(" + xhr.responseText + ")");
                console.error(err)
                if(Object.keys(err).length){
                    Object.keys(err).forEach((field) => {
                        Toastify({
                            text: `${field}: ${err[field]}`,
                            className: 'bg-danger',
                            style: {
                              'text-transform': "capitalize",
                            },
                        }).showToast();
                    })

                } else {
                    Toastify({
                      text: "Oops something went wrong.",
                      className: 'bg-danger'
                    }).showToast();
                }
            }
        });
    });

 });
    </script>
{% endblock extra_js %}
