 {% extends "partials/base.html" %}
{% load static %}
{% block title %}
    SalesTask Details
{% endblock title %}
{% block extra_css %}
    <!-- Sweet Alert css-->
    <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}"
          rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Robots" title="Sales Task Detail" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Leads</h5>
                                </div>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text"
                                                       id="searchInput"
                                                       class="form-control search bg-light border-light"
                                                       placeholder="Search for name or email...">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-3 col-sm-4">
                                            <div class="input-light">
                                                <select class="form-control"
                                                        data-choices
                                                        data-choices-search-false
                                                        name="choices-single-default"
                                                        id="statusInput">
                                                    <option value="">
                                                        All Status
                                                    </option>
                                                    {% for status in statuses %}
                                                        <option value="{{ status.id }}">
                                                            {{ status.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <div class="row g-3 mt-1">
                                        <div class="col-xxl-3 col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label">Date</label>
                                                <div class="form-icon right">
                                                    <input type="text"
                                                           class="form-control form-control-icon"
                                                           readonly="readonly"
                                                           id="id_date_range"/>
                                                    <i class="ri-close-circle-line fs-18 cursor-pointer" id="clearDateRange"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </form>
                            </div>
                            <!--end card-body-->
                            <div class="card-body">
                                <div class="table-responsive table-card mb-4">
                                    <table class="table align-middle table-nowrap mb-0" id="leads-table" data-server-side="true">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th data-data="id">ID</th>
                                                <th data-data="company.name">Company Name</th>
                                                <th data-data="person.first_name">Name</th>
                                                <th data-data="status">Status</th>
                                                <th data-data="created">Created</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                                {% include "partials/pagination.html" with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">
                                    SalesTask Detail
                                    <span class="badge {% if sales_task.status == 2 %} badge-soft-secondary {% elif sales_task.status == 3 %} badge-soft-danger {% else %} badge-soft-success {% endif %} text-uppercase fs-12">{{ sales_task.get_status_display }}</span>
                                </h5>
                                <div class="flex-shrink-0"></div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                    <li>
                                        <b>Name: </b>{{ sales_task.name }}
                                    </li>
                                    <li title="Contact">
                                        <b>Robot: </b>{{ sales_task.robot }}
                                    </li>
                                    <li>
                                        <b>Search Url: </b><a href="{{ sales_task.search_url }}" target="_blank">{{ sales_task.search_url }}</a>
                                    </li>
                                    <li>
                                        <b>Source: </b>{{ sales_task.source }}
                                    </li>
                                    <li>
                                        <b>Sales Template: </b>{{ sales_task.sales_template }}
                                    </li>
                                    <li>
                                        <b>Number Of Leads: </b>{{ sales_task.lead_count }}
                                    </li>
                                    <li>
                                        <b>User: </b>{{ sales_task.user.get_full_name }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/moment-2.29.2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
 $(document).ready(function () {

    var salesTaskLeadTableParams = {
        sales_task: '{{sales_task.id}}',
        start_date: '',
        end_date: ''
    }

      var table = $('#leads-table').DataTable({
        order: [[4, 'desc']],
        "ajax": {
            "url": "/api/salestaskdetail/?format=datatables",
            "data": function ( d ) {
                return  $.extend(d, salesTaskLeadTableParams);
            }
        },
        "dom": 'lrtip',
        "columnDefs": [
            {
                // Hide the ID column
                targets: 0,
                visible: false,
                searchable: false,
            },

            {
                targets: 1,
                defaultContent: '-',
            },       
            {
                targets: 2,
                defaultContent: '-',
            },       
            {
                targets: 3,
                defaultContent: '-',
                
            },       
            {
                targets: 4,
                render: (data, type, row)=>{
                    return moment.utc(row.created).format('MMM DD, YYYY hh:mm A');
            }
            },       
 
            {
                targets: -1,
                sortable: false,
                searchable: false,
                render: ( data, type, row ) => {
                    let editLeadURL = "{% url 'leads:lead_edit' pk=0 %}"
                    let actions = `<ul class="list-inline hstack gap-2 mb-0">`
                        {% if perms.leads.change_lead %}
                        actions += `<li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                        <a href="${editLeadURL.replace('0', row.id)}" class="text-primary d-inline-block edit-item-btn">
                            <i class="ri-pencil-fill fs-16"></i>
                        </a>
                        </li>`
                    {% endif %}
                    actions += `</ul>`
                    return actions
                }
            }
            
            ]
        });
    $('#searchInput').on( 'keyup', function () {
      table.search( this.value ).draw();
    });
    $('#statusInput').on('change', function() {
        table.columns( 3 )
        .search( this.value )
        .draw();
    });

    // Date Range Picker Filter
    const dateRangePicker = flatpickr("#id_date_range", {
        mode: 'range',
        onChange: (selectedDates, dateStr, instance) => {
            // Set the required date format
            if(selectedDates.length > 1 ){
            let start_date = moment(selectedDates[0]).format('YYYY-MM-DD');
            let end_date = moment(selectedDates[1]).format('YYYY-MM-DD');
            // Set the datatables get params and reload the data                 
            salesTaskLeadTableParams.start_date = start_date
            salesTaskLeadTableParams.end_date = end_date
            table.ajax.reload();
        }
    }        
    })
    
    $('#clearDateRange').click(function(e){
        
        // Clear the Date Range Picker Filter
        $('#id_date_range')[0]._flatpickr.clear()
        salesTaskLeadTableParams.start_date = ''
        salesTaskLeadTableParams.end_date = ''
        table.ajax.reload();
    })

 });
    </script>
{% endblock extra_js %}
