{% extends 'layouts/base.html' %}

{% block title %}
  Match List
{% endblock %}

{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Match</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Match</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <button class="btn btn-neutral" id="getMatchList">Get Matching List</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <div id="userCards" class="d-flex flex-wrap pt-2 m-4"></div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script>
    TableParams = {}
    $(document).ready(function () {
        
        // Get the div where you want to display the cards
        var userCardsDiv = document.getElementById("userCards");
        $('#getMatchList').on('click', function () {
          userCardsDiv.innerHTML = '';
          $.ajax({
            type: 'GET',
            url: '/matching/match/match_users/',
            success: function (response) {
              debugger
              for (var i = 0; i < response.data.length; i++) {
                debugger
                var user = response.data[i];
                // Create a new div for the user card
                var cardDiv = document.createElement("div");
                cardDiv.className = "col-lg-4";
                // Create the HTML for the card
                var photo_url = user.photo ? user.photo : '/static/assets/img/theme/team-1.jpg';
                var cardHtml = `
                      <div class="card card-profile">
                        <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top" />
                        <div class="row justify-content-center">
                          <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                              <a href="#">
                                  <img src="${ photo_url }" class="rounded-circle" />
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                          <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                          </div>
                        </div>
                        <div class="card-body pt-2">
                          <div class="text-center">
                            <h5 class="h3">${ user.first_name } ${ user.last_name }</h5>
                            <div class="h5 font-weight-300">${ user.email }</div>
                            <div class="h3 mt-4">
                              Skills
                            </div>
                            <div class="h4 font-weight-300">${user.skills}</div>
                            <div class="h3 mt-1">
                              Experience Level
                            </div>
                            <div class="h4 font-weight-300">${user.experience_level}</div>
                            <div class="h3 mt-1">
                              Learning Interests
                            </div>
                            <div class="h4 font-weight-300">${user.learning_interests}</div>
                          </div>
                        </div>
                      </div>
                `;
            
                // Set the HTML of the card div
                cardDiv.innerHTML = cardHtml;
            
                // Add the card div to the userCards div
                userCardsDiv.appendChild(cardDiv);
            }
            }
          })
        })        
    })
  </script>
{% endblock %}
