{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    User Company List
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Leads" title="User Company List" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card"  id="tasksList">
                            <div class="card-header border-0">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">All User Companies</h5>
                                    <div class="flex-shrink-0">
                                        <button type="button" class="btn btn-primary btn-load d-none">
                                            <span class="d-flex align-items-center">
                                                <span class="flex-grow-1 me-2">Loading Data...</span>
                                                <span class="spinner-border spinner-border-sm flex-shrink-0" role="status">
                                                    <span class="visually-hidden">Loading Data...</span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text"
                                                       class="form-control search bg-light border-light"
                                                       placeholder="Search..."
                                                       id="id_search"/>
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <!-- Filters Form -->
                                <form action="" method="get">
                                    {% include 'leads/partials/company_user_filter.html' with form=usercompany_filter.form %}
                                </form>
                                <!-- End Filters Form -->
                            </div>
                            <!--end card-body-->
                            <div class="card-body">
                                <div class="table-responsive table-card mb-4">
                                    <table class="table align-middle table-nowrap mb-0" id="tasksTable">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th data-data="id">ID</th>
                                                <th data-data="name">Company Name</th>
                                                <th data-data="created">Created</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/moment-2.29.2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
    $(document).ready(function () {
        var companyTableParams = {
            user_id: '',
            start_date: '',
            end_date: ''
        }
        var table = $('#tasksTable').DataTable({
            "ajax": {
                "url": "/api/usercompany/?format=datatables",
                "data": function ( d ) {
                    $('.btn-load').removeClass('d-none');
                    return  $.extend(d, companyTableParams);
                },
                "dataSrc": function (e) {
                    //Make your callback here.
                    $('.btn-load').addClass('d-none');
                    return e.data;
                }
            },
            "dom": '<"top"lrtip<"clear">>rt',
            "columnDefs": [
            {  
                targets: 0,
                visible: true,
                searchable: true,
            },

            {
                targets: 1,
                defaultContent: '-',
            },       
 
            {
                targets: 2,
                render: (data, type, row)=>{
                    if(data=="-"){
                        return data
                    }
                    else{
                        return moment.utc(row.created).format('MMM DD, YYYY hh:mm A');
                    }
                }
            }
            ]
        });
        $('#id_search').on( 'keyup', function () {
            table.search( this.value ).draw();
        });
        
        const userChoices = new Choices(document.querySelector('#id_user'),{
            shouldSort: false
        })
    
        userChoices.passedElement.element.addEventListener(
            'change',
            function(event) {
                user_id = event.detail.value;
                companyTableParams.user_id = user_id
                table.ajax.reload()
            },
            false,
            );
            

        // Date Range Picker Filter
        const dateRangePicker = flatpickr("#id_date_range", {
            mode: 'range',
            onChange: (selectedDates, dateStr, instance) => {
                // Set the required date format
                if(selectedDates.length > 1 ){
                let start_date = moment(selectedDates[0]).format('YYYY-MM-DD');
                let end_date = moment(selectedDates[1]).format('YYYY-MM-DD');
                // Set the datatables get params and reload the data
                if(userChoices.getValue(true)){
                    companyTableParams.start_date = start_date
                    companyTableParams.end_date = end_date
                    table.ajax.reload();
                }
                else {
                    $('#id_date_range')[0]._flatpickr.clear()
                    Toastify({
                        text:'Please select a User' ,
                        className: 'bg-danger'
                    }).showToast();
                }
            }
        }        
        })
        
        $('#clearDateRange').click(function(e){
            
            // Clear the Date Range Picker Filter
            $('#id_date_range')[0]._flatpickr.clear()
            companyTableParams.start_date = ''
            companyTableParams.end_date = ''
            table.ajax.reload();
        })
    });
    </script>
{% endblock extra_js %}
