{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Industry List
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Leads" title="Daily Work List" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card"  id="tasksList">
                            <div class="card-header border-0">
                                <div class="d-flex align-items-center gap-3">
                                    <h5 class="card-title mb-0 flex-grow-1">All Daily Work</h5>
                                    {% if perms.leads.add_dailywork %}
                                        <div class="flex-shrink-0">
                                            <button type="submit" class="btn btn-primary btn-create">Create Monthly Daily Work</button>
                                            <button type="button" class="btn btn-primary btn-load d-none">
                                                <span class="d-flex align-items-center">
                                                    <span class="flex-grow-1 me-2">Loading...</span>
                                                    <span class="spinner-border flex-shrink-0" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form action="" method="get">
                                    {% include 'leads/partials/dailywork_filter.html' with form=dailywork_filter.form %}
                                </form>
                            </div>
                            <!--end card-body-->
                            <div class="card-body">
                                <div class="table-responsive table-card mb-4">
                                    <table class="table align-middle table-nowrap mb-0" id="dailyWorkTable">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th data-data="id">ID</th>
                                                <th data-data="user.id">User ID</th>
                                                <th data-data="user.first_name">Full Name</th>
                                                <th data-data="lead_count">Company Count</th>
                                                <th data-data="candidate_count">Candidate Count</th>
                                                <th data-data="qa_score">QA Score</th>
                                                <th data-data="date">Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="modal fade flip"
                     id="deleteOrder"
                     tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body p-5 text-center">
                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                <div class="mt-4 text-center">
                                    <h4>You are about to delete ?</h4>
                                    <p class="text-muted fs-14 mb-4">
                                        Deleting your task will remove all of
                                        your information from our database.
                                    </p>
                                    <div class="hstack gap-2 justify-content-center remove">
                                        <button class="btn btn-link btn-ghost-success fw-medium text-decoration-none"
                                                data-bs-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i> Close
                                        </button>
                                        <a class="btn btn-danger" id="delete-record">Yes, Delete It</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end delete modal -->
                <!-- Modal FORM for Update Daily Work -->
                <div id="updateDailywork"
                     class="modal fade"
                     tabindex="-1"
                     aria-labelledby="updateDailyworkLabel"
                     aria-hidden="true"
                     style="display: none;">
                    <div class="modal-dialog modal-sm modal-dialog-centered">
                        <div class="modal-content">
                            <form action="" id="updateDailyworkForm" data-lead="">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateDailyworkLabel">Update Daily Work</h5>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <div id="div_id_candidate_count" class="form-group">
                                                    <label for="id_candidate_count" class="">Candidate Count</label>
                                                    <div>
                                                        <input type="number"
                                                               name="candidate_count"
                                                               value="0"
                                                               class="numberinput form-control"
                                                               id="id_candidate_count">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <div id="div_id_qa_score" class="form-group">
                                                    <label for="id_qa_score" class="">QA Score</label>
                                                    <div>
                                                        <input type="number"
                                                               name="qa_score"
                                                               value="0"
                                                               class="numberinput form-control"
                                                               id="id_qa_score">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light close-btn" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/moment-2.29.2.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript">
    window.onload = function(){
        localStorage.clear();
    }
$(document).ready(function(){

    $('#dailyWorkTable').on('click', '.update_dailywork-btn', (event) => {
        event.preventDefault();
        let dailyworkId = $(event.currentTarget).data('id')
        let candidate_count = $(event.currentTarget).data('candidate_count')
        let qa_score = $(event.currentTarget).data('qa_score')
        let user_id = $(event.currentTarget).data('user_id')
        $('#updateDailyworkForm').data('id', dailyworkId)
        $('#updateDailyworkForm').data('user_id', user_id)
        $('#updateDailyworkForm #id_candidate_count').val(candidate_count)
        $('#updateDailyworkForm #id_qa_score').val(qa_score)
    });

    // Ajax for Daily Work Update Modal Form
    $('#updateDailyworkForm').submit(function(e){
        e.preventDefault(); // avoid to execute the actual submit of the form.
        let dailyworkId = $(this).data('id')
        var form = $(this);
        $.ajax({
            type: "PATCH",
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: `/api/dailywork/${dailyworkId}/`,
            data: form.serialize(), // serializes the form's elements.
            success: (response) => {
                // Show the success message
                Toastify({
                    text: "The Daily Work has been updated successfully",
                }).showToast();
                form.trigger("reset");
                $('.close-btn').trigger('click')
                table.ajax.reload(null, false)
            },
            error: (xhr, status, error) => {
                // Handle Ajax Error for API
                console.log(error)
                Toastify({
                    text: error?.status || 'Oops something went wrong',
                    className: "bg-danger"
                }).showToast();
            }
        });
    })

    // Ajax for Create Monthly Daily Work
    $('.btn-create').click(function(){
            $('.btn-load').removeClass('d-none');
            $('.btn-create').addClass('d-none');
            $.ajax({
                type: "POST",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: `/api/dailywork/`,
                success: function(response){},
                complete: function(){
                    table.ajax.reload()
                    $('.btn-load').addClass('d-none');
                    $('.btn-create').removeClass('d-none');
                    Toastify({
                        text:'Created Successfully!',
                        className: 'bg-success'
                      }).showToast();
                }
            })       
    })

    var dailyWorkTableParams = {
        user_id: '',
        start_date: '',
        end_date: ''
    }
    var table = $('#dailyWorkTable').DataTable( {
        order: [[6, 'asc']],
        serverSide: true,
        processing: true,
        "ajax": {
            "url": "/api/dailywork/?format=datatables",                                           
            "data": function ( d ) {
                return  $.extend(d, dailyWorkTableParams);
            }
        },
        "dom": 'lrtip',
        "columnDefs": [
        {
            targets: 0,
            visible: false,
            searchable: false
        },
        {
            targets: 1,
            defaultContent: '-',
        },
        {
            targets: 2,
            defaultContent: '-',
        },
        {
            targets: 3,
            defaultContent: '-',
        },
        {
            targets: 4,
            defaultContent: '-',
        },
        {
            targets: 5,
            defaultContent: '-',
        },
        {
            targets: 6,
            render: (data, type, row) => {
                return moment.utc(row.date).format('MMM DD, YYYY');
            }
        },
        {
            targets: -1,  // -1 is the last column, 0 the first, 1 the second, etc.
            sortable: false,
            searchable: false,
            // The `data` parameter refers to the data for the cell.
            // The `rows`argument is an object representing all the data for the current row.
            render: ( data, type, row ) => {
                
                let editURL = "{% url 'leads:dailywork_edit' pk=0 %}"
                let deleteURL = "{% url 'leads:dailywork_delete' pk=0 %}"
                
                let actions =  `<ul class="list-inline hstack gap-2 mb-0">`
                    
                {% if perms.leads.change_dailywork %}
                    actions += `<li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                        <a href="javascript:void(0)" data-id="${ row.id }" data-qa_score="${ row.qa_score }" data-user_id="${ row.user_id }" data-candidate_count="${ row.candidate_count }" class="text-primary d-inline-block update_dailywork-btn" data-bs-toggle="modal" data-bs-target="#updateDailywork">
                            <i class="ri-pencil-fill fs-16"></i>
                    </a>
                </li>`
                {% endif %}
   
                {% if perms.leads.delete_dailywork %}
                actions += `<li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                <a class="delete-btn text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" data-url="${deleteURL.replace('0', row.id)}">
                <i class="ri-delete-bin-5-fill fs-16"></i>
            </a>
        </li>`
        {% endif %}
        
        
        actions += `</ul>`
        return actions
    },
    
}
]
})

    // Update the Delete URL in Delete Confirm Modal
    $('#dailyWorkTable').on('click', '.delete-btn', (event) => {
        $('#delete-record').attr('href', $(event.currentTarget).data('url'))
    })
    
    // Filters for table
    $('#id_search').on('keyup', function () {
        table.search( this.value ).draw();
    } );

    const userChoices = new Choices(document.querySelector('#id_user'),{
        shouldSort: false
    })

    userChoices.passedElement.element.addEventListener(
        'change',
        function(event) {
            user_id = event.detail.value;
            dailyWorkTableParams.user = user_id
            table.ajax.reload(null, false);
        },
        false,
        );
        

    // Date Range Picker Filter
    const dateRangePicker = flatpickr("#id_date_range", {
        mode: 'range',
        onChange: (selectedDates, dateStr, instance) => {
            // Set the required date format
            if(selectedDates.length > 1 ){  
                let start_date = moment(selectedDates[0]).format('YYYY-MM-DD');
                let end_date = moment(selectedDates[1]).format('YYYY-MM-DD');
                // Set the datatables get params and reload the data             
                dailyWorkTableParams.start_date = start_date
                dailyWorkTableParams.end_date = end_date
                table.ajax.reload();
        }
    }        
    })
    
    $('#clearDateRange').click(function(e){
        
        // Clear the Date Range Picker Filter
        $('#id_date_range')[0]._flatpickr.clear()
        dailyWorkTableParams.start_date = ''
        dailyWorkTableParams.end_date = ''
        table.ajax.reload();
    })
})
    </script>
{% endblock extra_js %}
