{% extends "partials/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Lead Tasks Details
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Leads" title="Lead Tasks Details" %}
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Lead Tasks</h5>
                                    <div class="flex-shrink-0"></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="pt-3">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <table class="table table-borderless">
                                                <tr>
                                                    <th>ID</th>
                                                    <td>{{ leadtasks.id }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Keyword</th>
                                                    <td>{{ leadtasks.keyword }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Location</th>
                                                    <td>{{ leadtasks.location }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Job Title</th>
                                                    <td>{{ leadtasks.job_title }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Job Link</th>
                                                    <td>{{ leadtasks.job_link }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Company</th>
                                                    <td>{{ leadtasks.company }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Company Link</th>
                                                    <td>{{ leadtasks.company_link }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Job Location</th>
                                                    <td>{{ leadtasks.job_location }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Post Time</th>
                                                    <td>{{ leadtasks.post_time }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Applicants Count</th>
                                                    <td>{{ leadtasks.applicants_count }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Seniority Level</th>
                                                    <td>{{ leadtasks.seniority_level }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Employment Type</th>
                                                    <td>{{ leadtasks.employment_type }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Job Function</th>
                                                    <td>{{ leadtasks.job_function }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Industries</th>
                                                    <td>{{ leadtasks.industries }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex">
                                    <h5 class="card-title flex-grow-1 mb-0">Status</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                    <li title="Assigned">
                                        <b>Assigned to:</b> {{ leadtasks.assigned_to }}
                                    </li>
                                    <li title="Completed">
                                        <b>Completed:</b>{% if leadtasks.completed == True %} <i class="ri-checkbox-circle-line align-middle text-success fs-18"></i> {% else %} <i class="ri-close-circle-line align-middle text-danger fs-18"></i> {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock extra_js %}
