{% extends "partials/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Lead Details
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Leads" title="Lead Details" %}
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Lead</h5>
                                    <div class="flex-shrink-0"></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="pt-3">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <table class="table table-borderless">
                                                <tr>
                                                    <th>User</th>
                                                    <td>{{ lead.user }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source</th>
                                                    <td>{{ lead.source }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Sales Task</th>
                                                    <td>{{ lead.sales_task }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Robot</th>
                                                    <td>{{ lead.sales_task.robot }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Team</th>
                                                    <td>{{ lead.sales_task.robot.team }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Status</th>
                                                    <td>{{ lead.get_status_display }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Sales Template</th>
                                                    <td>{{ lead.sales_template }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Outbound Email</th>
                                                    <td>{{ lead.outbound_email }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Resume Sent</th>
                                                    <td>
                                                        {% if lead.resume_sent %}
                                                            <i class="ri-checkbox-circle-line align-middle text-success fs-18"></i>
                                                        {% else %}
                                                            <i class="ri-close-circle-line align-middle text-danger fs-18"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Follow Ups</th>
                                                    <td>{{ lead.follow_ups }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Contract Signed</th>
                                                    <td>
                                                        {% if lead.contract_signed %}
                                                            <i class="ri-checkbox-circle-line align-middle text-success fs-18"></i>
                                                        {% else %}
                                                            <i class="ri-close-circle-line align-middle text-danger fs-18"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Interested</th>
                                                    <td>
                                                        {% if lead.interested %}
                                                            <i class="ri-checkbox-circle-line align-middle text-success fs-18"></i>
                                                        {% else %}
                                                            <i class="ri-close-circle-line align-middle text-danger fs-18"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Not Interested</th>
                                                    <td>
                                                        {% if lead.not_interested %}
                                                            <i class="ri-checkbox-circle-line align-middle text-success fs-18"></i>
                                                        {% else %}
                                                            <i class="ri-close-circle-line align-middle text-danger fs-18"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Response</th>
                                                    <td>
                                                        {% if lead.response %}
                                                            <i class="ri-checkbox-circle-line align-middle text-success fs-18"></i>
                                                        {% else %}
                                                            <i class="ri-close-circle-line align-middle text-danger fs-18"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Bounce Back</th>
                                                    <td>
                                                        {% if lead.bounce_back %}
                                                            <i class="ri-checkbox-circle-line align-middle text-success fs-18"></i>
                                                        {% else %}
                                                            <i class="ri-close-circle-line align-middle text-danger fs-18"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Auto Reply</th>
                                                    <td>
                                                        {% if lead.auto_replies %}
                                                            <i class="ri-checkbox-circle-line align-middle text-success fs-18"></i>
                                                        {% else %}
                                                            <i class="ri-close-circle-line align-middle text-danger fs-18"></i>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Contract Date</th>
                                                    <td>{{ lead.contract_date }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex">
                                    <h5 class="card-title flex-grow-1 mb-0">Person Detail</h5>
                                    <div class="flex-shrink-0">
                                        <span class="badge {% if lead.person.status == lead.person.Status.NEW %} badge-soft-secondary {% elif lead.person.status == lead.person.Status.EMAIL_NOT_FOUND %} badge-soft-danger {% else %} badge-soft-success {% endif %} text-uppercase fs-12">{{ lead.person.get_status_display }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                    <li class="fw-medium fs-14">
                                        {{ lead.person.first_name }} {{ lead.person.last_name }}
                                    </li>
                                    <li>
                                        {{ lead.company }}
                                    </li>
                                    <li title="Contact">
                                        {{ lead.person.email }} {{ lead.person.email2 }} {{ lead.person.email3 }}
                                    </li>
                                    {% if lead.person.linkedin %}
                                        <li>
                                            <a href="{{ lead.person.linkedin }}"
                                               target="__blank"
                                               class="text-primary d-inline-block linkedin-url">
                                                <i class="ri-linkedin-fill fs-20"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                        <!-- Messages List Card for Lead -->
                        <div class="card mt-4">
                            <div class="card-header">
                                <h5 class="card-title mb-0">
                                    Messages
                                </h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0"
                                    data-simplebar
                                    data-simplebar-track="secondary"
                                    style="max-height: 350px">
                                    {% for message in lead.message_set.all %}
                                        <li class="fw-medium fs-14">
                                            {{ message.subject }}
                                        </li>
                                        <li>
                                            {{ message.content }}
                                        </li>
                                        <li class="text-muted border-bottom border-dashed border-top-0 border-start-0 border-end-0 pb-2">
                                            {{ message.sent_to }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script>
    $(document).ready(function() {
        let link = $('.linkedin-url').attr('href')
        link = (link.indexOf('://') === -1) ? 'http://' + link : link;
        $('.linkedin-url').attr('href', link)
    } );
    </script>
{% endblock extra_js %}
