{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Assigned Company List
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Leads" title="Assigned Company List" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card"  id="tasksList">
                            <div class="card-header border-0">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">All Assigned Companies</h5>
                                </div>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text"
                                                       class="form-control search bg-light border-light"
                                                       placeholder="Search..."
                                                       id="id_search"/>
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-card mb-4">
                                    <table class="table align-middle table-nowrap mb-0" id="tasksTable">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th>Create</th>
                                                <th data-data="id" data-name="id">ID</th>
                                                <th data-data="name" data-name="name">Name</th>
                                                <th data-data="domain" data-name="domain">Domain</th>
                                                <th data-data="created" data-name="created">Created</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="modal fade flip"
                     id="deleteOrder"
                     tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body p-5 text-center">
                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                <div class="mt-4 text-center">
                                    <h4>You are about to delete ?</h4>
                                    <p class="text-muted fs-14 mb-4">
                                        Deleting your task will remove all of
                                        your information from our database.
                                    </p>
                                    <div class="hstack gap-2 justify-content-center remove">
                                        <button class="btn btn-link btn-ghost-success fw-medium text-decoration-none"
                                                data-bs-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i> Close
                                        </button>
                                        <a class="btn btn-danger" id="delete-record">Yes, Delete It</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end delete modal -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!--datatable js-->
<script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/moment-2.29.2.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
$(document).ready(function () {
    $('#tasksTable').on('click', '.delete-btn', (event) => {
        $('#delete-record').attr('href', $(event.currentTarget).data('url'))
    })
    var tableParams = {
        'assigned_to': '',
        'status': 1,
    }
    var table = $('#tasksTable').DataTable({
        serverSide: true,
        processing: true,
        order: [[4, 'desc']],
        "ajax": {
            "url": "/api/company/?format=datatables",
            "data": function ( d ) {
                return  $.extend(d, tableParams);
            }
        },
        "dom": 'lrtip',
        "columnDefs": [
        {
            targets: 0,
            sortable: false,
            searchable: false,
            render: ( data, type, row ) => {                    
                let actions =  `<ul class="list-inline hstack gap-2 mb-0">`                        
                        actions += `<li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Create Lead">
                            <a href="{% url 'leads:lead_create' %}?company=${ row.id }" type="button" target="__blank" class="btn btn-success d-inline-block">
                                Create Lead
                            </a>
                        </li>`
                actions += `</ul>`
                return actions
            },
        },
        {
            targets: 1,
            visible: false,
            defaultContent: '-',
            sortable: false,
            searchable: false
        },
        {
            targets: 2,
            visible: true,
            searchable: true,
        },

        {
            targets: 3,
            defaultContent: '-',
        },
        {
            targets: 4,
            render: (data, type, row)=>{
                return moment.utc(row.created).format('MMM DD, YYYY hh:mm A');
            }
        },
        {
            targets: -1,
            searchable: false,
            sortable: false,
            render: ( data, type, row ) => {
                let viewLeadURL = "{% url 'leads:company_details' pk=0 %}"
                let editLeadURL = "{% url 'leads:company_edit' pk=0 %}"
                let deleteLeadURL = "{% url 'leads:company_delete' pk=0 %}"
                
                let actions =  `<ul class="list-inline hstack gap-2 mb-0">`

                {% if perms.leads.view_person %}
                actions += `<li class="list-inline-item view" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="view">
                        <a role="button" href="${viewLeadURL.replace('0', row.id)}" class="text-primary d-inline-block edit-item-btn">
                            <i class="ri-eye-fill fs-16"></i>
                        </a>
                    </li>`
                {% endif %}

                {% if perms.leads.change_company %}
                actions += `<li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                        <a href="${editLeadURL.replace('0', row.id)}" class="text-primary d-inline-block edit-item-btn">
                            <i class="ri-pencil-fill fs-16"></i>
                        </a>
                    </li>`
                {% endif %}

                {% if perms.leads.delete_company %}
                actions += `<li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                        <a class="delete-btn text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" data-url="${deleteLeadURL.replace('0', row.id)}">
                            <i class="ri-delete-bin-5-fill fs-16"></i>
                        </a>
                    </li>`
                {% endif %}

                actions += `</ul>`
                return actions
            }
        }
        ]
    });

    $('.create-company').on('click', (event) => {
        debugger
        let id = $(event.currentTarget).data('id')
        url = `{% url 'leads:lead_create' %}?company=${id}`
        var win = window.open(url, '_blank');
        win.focus();
    })

    $('#id_search').on( 'keyup', function () {
        table.search( this.value ).draw();
    });

    $(".close-btn").click(function(){
        table.ajax.reload(null, false);
    })

});
</script>
{% endblock extra_js %}
