{% extends "partials/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    Lead Report List
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Leads" title="Lead Report List" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card"  id="tasksList">
                            <div class="card-header border-0">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">Lead Report</h5>
                                    <div class="flex-shrink-0">
                                        <button type="button" class="btn btn-primary btn-load d-none">
                                            <span class="d-flex align-items-center">
                                                <span class="flex-grow-1 me-2">Loading Data...</span>
                                                <span class="spinner-border spinner-border-sm flex-shrink-0" role="status">
                                                    <span class="visually-hidden">Loading Data...</span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text"
                                                       class="form-control search bg-light border-light"
                                                       placeholder="Search..."
                                                       id="id_search"/>
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <!-- Filters Form -->
                                <form action="" method="get">
                                    {% include 'leads/partials/leadreport_filter.html' with form=leadreport_filter.form %}
                                </form>
                                <!-- End Filters Form -->
                            </div>
                            <!--end card-body-->
                            <div class="card-body">
                                <div class="table-responsive table-card mb-4">
                                    <table class="table align-middle table-nowrap mb-0" id="leadReportTable">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th data-data="team_id">ID</th>
                                                <th data-data="team_name">Team</th>
                                                <th data-data="total_leads">Lead Count</th>
                                                <th data-data="total_companies">Company Count</th>
                                                <th data-data="total_contract_signed">Contract Signed</th>
                                                <th data-data="total_responses">Responses</th>
                                                <th data-data="total_interested">Interested</th>
                                                <th data-data="total_not_interested">Not Interested</th>
                                                <th data-data="total_bounce_back">Bounce Back</th>
                                                <th data-data="total_auto_replies">Auto Replies</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/moment-2.29.2.min.js' %}"></script>
    <script>
    $(document).ready(function () {
        var leadReportTableParams = {
            start_date: '',
            end_date: ''
        }
        var table = $('#leadReportTable').DataTable({
            serveride: true,
            order: [[3, 'desc']],
            "ajax": {
                "url": "/api/leadreport/?format=datatables",
                "data": function ( d ) {
                    $('.btn-load').removeClass('d-none');
                    return  $.extend(d, leadReportTableParams);
                },
                "dataSrc": function (e) {
                    //Make your callback here.
                    $('.btn-load').addClass('d-none');
                    return e.data;
                }
            },
            "dom": '<"top"lrtip<"clear">>rt',
            "columnDefs": [
            {  
                targets: 0,
                visible: false,
            },

            {
                targets: 1,
                defaultContent: '-',
            },       
 
            {
                targets: 2,
                defaultContent: '-',
            },
            {
                targets: 3,
                defaultContent: '-',
            },
            {
                targets: 4,
                defaultContent: '-',
            },
            {
                targets: 5,
                defaultContent: '-',
            },
            {
                targets: 6,
                defaultContent: '-',
            },
            {
                targets: 7,
                defaultContent: '-',
            },
            {
                targets: 8,
                defaultContent: '-',
            }
            ]
        });
        $('#id_search').on( 'keyup', function () {
            table.columns(1).search( this.value ).draw();
        });
        
        const teamChoices = new Choices(document.querySelector('#id_team'),{
            shouldSort: false
        })

        teamChoices.passedElement.element.addEventListener(
    'change',
    function(event) {
        // get the all person that are part of selected company and update the choices in person dropdown
        table
        .columns( 0 )
        .search( event.detail.value )
        .draw();
    })
        // Date Range Picker Filter
        const dateRangePicker = flatpickr("#id_date_range", {
            mode: 'range',
            onChange: (selectedDates, dateStr, instance) => {
                // Set the required date format
                if(selectedDates.length > 1 ){
                let start_date = moment(selectedDates[0]).format('YYYY-MM-DD');
                let end_date = moment(selectedDates[1]).format('YYYY-MM-DD');
                // Set the datatables get params and reload the data
                leadReportTableParams.start_date = start_date
                leadReportTableParams.end_date = end_date
                table.ajax.reload();
            }
        }        
        })
        
        $('#clearDateRange').click(function(e){
            
            // Clear the Date Range Picker Filter
            $('#id_date_range')[0]._flatpickr.clear()
            leadReportTableParams.start_date = ''
            leadReportTableParams.end_date = ''
            table.ajax.reload();
        })
    });
    </script>
{% endblock extra_js %}
