{% extends "partials/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    OutBound Email
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Robots" title="OutBound Email" %}
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Messages Detail</h5>
                                </div>
                            </div>
                            <!--end card-body-->
                            <div class="card-body">
                                {% for i in message_list %}
                                    <div class="pt-3">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <table class="table table-borderless">
                                                    <tr>
                                                        <th>Candidate task</th>
                                                        <td>{{ i.candidate_task }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Sales Task</th>
                                                        <td>{{ i.sales_task }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Subject</th>
                                                        <td>{{ i.subject }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Content</th>
                                                        <td>{{ i.content }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Scheduled For</th>
                                                        <td>{{ i.scheduled_for }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Follow Ups</th>
                                                        <td>{{ i.is_followup }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Message Detail</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                    {% for i in message_list %}
                                        <li class="fw-medium fs-14">Candidate Name: {{ i.candidate }}</li>
                                        <li>Outbound email: {{ i.outbound_email }}</li>
                                        <li >Lead: {{ i.lead }}</li>
                                        <li >Type: {{ i.get_type_display }}</li>
                                        <li>Sent To: {{ i.sent_to }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'js/moment-2.29.2.min.js' %}"></script>
{% endblock extra_js %}
