
  <script src="/static/assets/vendor/jquery/js/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery-scroll-lock/js/jquery-scrollLock.min.js"></script>
  <script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/static/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
  <script src="/static/assets/vendor/datatables/js/dataTables.bootstrap5.min.js"></script>

