<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="/"><h1 class="text-primary">SkillSwap</h1></a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          {% comment %} <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %}{% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:skill_list' %}">
              <i class="ni ni-bulb-61 text-default"></i>
              <span class="nav-link-text">Skills</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'matching:trainedmodel_list' %}">
              <i class="ni ni-app text-default"></i>
              <span class="nav-link-text">Trained Models</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'matching:match_list' %}">
              <i class="ni ni-app text-default"></i>
              <span class="nav-link-text">Match</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %}{% endif %}" href="/icons.html">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Icons</span>
            </a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %}{% endif %}" href="/tables.html">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Tables</span>
            </a>
          </li> {% endcomment %}
        </ul>
        <!-- Divider -->
        <hr class="my-3" />
      </div>
    </div>
  </div>
</nav>
