<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header align-items-center">
      <a class="navbar-brand" href="/"><h1 class="text-primary">SkillSwap</h1></a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          {% if request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:skillandinterest_list' %}">
              <i class="ni ni-bulb-61 text-default"></i>
              <span class="nav-link-text">Skills And Interests</span>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'messaging:conversation_list' %}">
              <i class="fa fa-comments text-default"></i>
              <span class="nav-link-text">Conversations</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'scheduling:meetingproposal_list' %}">
              <i class="fa fa-users text-default"></i>
              <span class="nav-link-text">Meetings</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'community:forumpost_list' %}">
              <i class="fa fa-commenting text-default"></i>
              <span class="nav-link-text">Forums</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'community:communityevent_list' %}">
              <i class="fa fa-calendar text-default"></i>
              <span class="nav-link-text">Events</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3" />
      </div>
    </div>
  </div>
</nav>
