{% extends 'layouts/base.html' %}

{% block title %}
Community Event List
{% endblock %}

{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Community Event</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Community Event</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'community:communityevent_create' %}" class="btn btn-sm btn-neutral">New</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Community Event List</h3>
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="datatable" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-data="id" data-sort="id">ID</th>
                  <th scope="col" class="sort" data-data="title" data-sort="title">Title</th>
                  <th scope="col" class="sort" data-data="organizer" data-sort="organizer">Organizer</th>
                  <th scope="col" class="sort" data-data="date" data-sort="date">Date</th>
                </tr>
              </thead>
              <tbody class="list"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script>
    TableParams = {}
    $(document).ready(function () {
      table = $('#datatable').DataTable({
        order: [[3, 'desc']],
        "language": {
          "paginate": {
              "previous": "<i class='fas fa-angle-left'></i>",
              "next": "<i class='fas fa-chevron-right'></i>"
          }
        },
        ajax: {
          url: '/api/communityevent/?format=datatables',
          data: function (d) {
            return $.extend(d, TableParams)
          }
        },
        columnDefs: [
          {
            targets : 0,
            visible : false

          },
          {
            targets: 3,
            render: function (data) {
              return moment(data).format("dddd, MMMM Do YYYY, h:mm:ss a");
            }
          }
        ]
      })
      $('#datatable tbody').on('click', 'tr', function() {
        // Get data of the clicked row
        var rowData = table.row(this).data();
        url = `{% url 'community:communityevent_detail' pk=0 %}`
        window.location.href = url.replace('0', rowData.id)
      })
    })
  </script>
{% endblock %}
