{% extends 'layouts/base.html' %}

{% block title %}
  Meeting Proposals
{% endblock %}

{% block content %}
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Meeting Proposalsl</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="/"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Meeting Proposals</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Meeting Proposals</h3>
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="datatable" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-data="id" data-sort="id">ID</th>
                  <th scope="col" class="sort" data-data="proposee" data-sort="proposee">Name</th>
                  <th scope="col" class="sort" data-data="proposed_time" data-sort="proposed_time">Type</th>
                  <th scope="col" class="sort" data-data="status" data-sort="status">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody class="list"></tbody>
            </table>
            <div class="modal fade flip"
                     id="deleteOrder"
                     tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body p-5 text-center">
                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                <div class="mt-4 text-center">
                                    <h4>You are about to delete ?</h4>
                                    <p class="text-muted fs-14 mb-4">
                                        Deleting your task will remove all of
                                        your information from our database.
                                    </p>
                                    <div class="hstack gap-2 justify-content-center remove">
                                        <button class="btn btn-link btn-ghost-success fw-medium text-decoration-none"
                                                data-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i> Close
                                        </button>
                                        <a class="btn btn-danger" id="delete-record">Yes, Delete It</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end delete modal -->
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}
  </div>
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script>
    TableParams = {}
    $(document).ready(function () {
      table = $('#datatable').DataTable({
        "language": {
          "paginate": {
              "previous": "<i class='fas fa-angle-left'></i>",
              "next": "<i class='fas fa-chevron-right'></i>"
          }
        },
        ajax: {
          url: '/api/meetingproposal/?format=datatables',
          data: function (d) {
            return $.extend(d, TableParams)
          }
        },
        columnDefs: [
        {
          targets: 0,
          visible: false
        },
          {
            targets: -1,
            sortable: false,
            searchable: false,
            render: (data, type, row) => {
              let detail_url = `{% url 'matching:trainedmodel_detail' pk=0 %}`
              let delete_url = `{% url 'matching:trainedmodel_delete' pk=0 %}`
              let actions = `<div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" href="${detail_url.replace('0', row.id)}">Detail</a>
                              <a class="dropdown-item delete-btn" data-toggle="modal" href="#deleteOrder" data-url="${delete_url.replace('0', row.id)}">Delete</a>
                            </div>
                          </div>`
              return actions
            }
          }
        ]
      })
      $('#datatable').on('click', '.delete-btn', (event) => {
        $('#delete-record').attr('href', $(event.currentTarget).data('url'))
      })
    })
  </script>
{% endblock %}
