{% extends "partials/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Find Emails
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
    <style>
.lds-dual-ring.hidden { 
display: none;
}

.lds-dual-ring:after:after {
 
  display: block;
 
}
img.lds-dual-ring-loader {
    position: absolute;
    top: 217px;
    right: 46%;
}
td.td-email {
    white-space: unset !important;
}

    </style>
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Candidates" title="Find Emails" %}
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Find Email</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="" id="find_email_form" method="POST">
                                    {% csrf_token %}
                                    <div class="hstack gap-3">
                                        <input class="form-control me-auto"
                                               type="url"
                                               placeholder="Enter Linkedin Url Here......."
                                               aria-label="Add your item here..."
                                               name="ln_url"
                                               required>
                                        <input name="api_method" id="api_method" hidden=""/>
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop"
                                                    type="button"
                                                    class="btn btn-secondary btn-sm dropdown-toggle"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="ri-search-fill align-middle me-1"></i> Find
                                            </button>
                                            <ul class="dropdown-menu api_select" aria-labelledby="btnGroupDrop1">
                                                <li>
                                                    <a class="dropdown-item" href="javascript:void(0)"  data-id="1">Apollo</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item add-bulk" href="javascript:void(0)" data-id="2">Rocket Reach</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item add-bulk" href="javascript:void(0)"  data-id="3">Signal Hire</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item csv-bulk" href="javascript:void(0)"  data-id="0">All</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                                <div class="mt-4" id="apollo-div" style="display:none;">
                                    <div class="d-flex align-items-center">
                                        <h5 class="card-title flex-grow-1 mb-0">Apollo</h5>
                                    </div>
                                    <table class="table align-middle table-nowrap mb-0 mt-2"
                                           id="apollo-table"
                                           style="border: 1px solid var(--vz-input-border);">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                                <div class="mt-4 rocket-div" id="rocket-div" style="display:none;">
                                    <div class="d-flex align-items-center">
                                        <h5 class="card-title flex-grow-1 mb-0">Rocket Reach</h5>
                                    </div>
                                    <table class="table align-middle table-nowrap mb-0 mt-2"
                                           id="rocket-table"
                                           style="border: 1px solid var(--vz-input-border);
                                                  border-radius: 10px !important;">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Verify Email</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="" id="verify_email_form" method="POST">
                                    {% csrf_token %}
                                    <div class="hstack gap-3">
                                        <input class="form-control me-auto"
                                               name="email"
                                               type="email"
                                               placeholder="Enter email ...."
                                               aria-label="Enter email ..."
                                               required>
                                        <button type="submit" class="btn btn-secondary" id="verifybtn">Verify</button>
                                        <div class="vr"></div>
                                        <button type="reset" class="btn btn-outline-danger">Reset</button>
                                    </div>
                                </form>
                                <div class="gap-3 mt-4 me-1" id="email_result"></div>
                                {% if perms.candidates.run_bot %}
                                    <div>
                                        <button class="btn btn-primary" id="run_bot">RUN BOT</button>
                                    </div>
                                {% endif %}
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <div id="global-loader" class="lds-dual-ring hidden overlay">
                <img src="{% static 'images/loader.svg' %}"
                     class="lds-dual-ring-loader"
                     alt="loader">
            </div>
            {% block footer %}
                {% include "partials/footer.html" %}
            {% endblock footer %}
        </div>
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--datatable js-->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('body').on('click', '.api_select .dropdown-item', function() {
            var data_id = $(this).attr('data-id');
            $('#api_method').val(data_id);
            var form = $('#find_email_form');
            $('#global-loader').removeClass('hidden')
            setTimeout(function(){
               $('#global-loader').addClass('hidden');
            },10000);

            $.ajax({
                type: "POST",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: `/candidates/find/emails/`,
                data: form.serialize(), // serializes the form's elements.
                success: function(response)
                {
                if( (response.apollo)  ||  (response.rocket)){
                    $('#global-loader').removeClass('hidden')
                     Toastify({
                          text:'Success' ,
                          className: 'bg-success'
                        }).showToast();
                }else{
                     Toastify({
                          text:'No Data Found' ,
                          className: 'bg-danger'
                        }).showToast();
                        setTimeout(function(){
                        $('#global-loader').addClass('hidden');}, 1000);
                   
                 
                }
                 var table1 = ''
                 if (response.apollo){
                  $("#apollo-div").show();
             //     $("table#apollo-table tbody").empty();
                  table1 = '<tr><td>'+response.apollo[1].name+'</td><td class="td-email" style="word-break:break-all;">'+response.apollo[0].email+'</td></tr>'
                  setTimeout(function(){
                      $('#global-loader').addClass('hidden');
                      $("table#apollo-table tbody").append(table1);}, 1000);
                   
                 }
                 var table2 = ''
                 if (response.rocket){

                  var rocket_email = ''
                  for (let i = 0; i < response.rocket.length; i++){
                  if (response.rocket[i].smtp_valid == "valid"){
                       rocket_email +=  response.rocket[i].email+' '
                    }
                    }
                  $("#rocket-div").show();
                 // $("table#rocket-table tbody").empty();
                  table2 = '<tr><td >'+response.rocket_name+'</td><td class="td-email" style="word-break:break-all;">'+rocket_email
                  +'</td></tr>'
                  setTimeout(function(){
                      $('#global-loader').addClass('hidden');
                      $("table#rocket-table tbody").append(table2);}, 1000);
                   
                 }
                }
            });
        });

        $('#verify_email_form').submit(function(e){
            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            $('#global-loader').removeClass('hidden')
            $.ajax({
                type: "POST",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: `/candidates/verify/emails/`,
                data: form.serialize(), // serializes the form's elements.
               
                success: function(response)
                {
                    var span_class = ''
                   if(response.result == 'valid' ){  span_class =  'badge-soft-success'}else if(response.result == 'catch-all'){ span_class = 'badge-soft-secondary'}else{ span_class = 'badge-soft-danger'}
                    var html = ''
                    html =  '<h5> <b>Status:</b><span class="me-2 badge '+ span_class +' text-uppercase">'
                                                    +response.result+
                                             '</span></h5>'
                                             
                    $("#email_result").empty();
                   
                    setTimeout(function(){
                      $('#global-loader').addClass('hidden');
                      $("#email_result").append(html);}, 1000);
                }
                
            });
            
        });

    });


    $("#run_bot").click(function(){
        $.ajax({
                type: "GET",
                url: `/robots/run_linkedin_bot`,
                success: function(response)
                {
                    if ("error" in response) {
                        Toastify({
                            text: "Failed! " + response.error,
                            className: 'bg-danger'
                          }).showToast();
                    } else {
                        Toastify({
                            text: "Success! " + response.success,
                            className: 'bg-success'
                          }).showToast();
                    }
                },
                error(vhr, status, erorr){
                    console.error(err);
                    Toastify({
                        text: "Oops something went wrong.",
                        className: 'bg-danger'
                      }).showToast();
                }

        });
    });


    </script>
{% endblock extra_js %}
