{% extends "partials/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Job Details
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
    <!--multi select css-->
    <link rel="stylesheet"
          href="https://laravel.spruko.com/dashtic/Horizontal-Dark-ltr/assets/plugins/multi/multi.min.css">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Candidates" title="Job Details" %}
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Job Candidates</h5>
                                    <div class="flex-shrink-0">
                                        <!-- Add New Candidate Options -->
                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1"
                                                    type="button"
                                                    class="btn btn-secondary btn-sm dropdown-toggle"
                                                    data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                <i class="ri-user-add-fill align-middle me-1"></i> Add New
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <li>
                                                    <a class="dropdown-item"
                                                       href="javascript:void(0)"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#singleCandidate">Single Candidate</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item add-bulk"
                                                       href="javascript:void(0)"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#bulkCandidate">Bulk Upload</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item csv-bulk"
                                                       href="javascript:void(0)"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#csvCandidate">Csv Upload</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text"
                                                       id="searchInput"
                                                       class="form-control search bg-light border-light"
                                                       placeholder="Search for name or email...">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-xxl-3 col-sm-4">
                                            <div class="input-light">
                                                <select class="form-control"
                                                        data-choices
                                                        data-choices-search-false
                                                        name="choices-single-default"
                                                        id="statusInput">
                                                    <option value="">
                                                        All Status
                                                    </option>
                                                    {% for status in statuses %}
                                                        <option value="{{ status.id }}">
                                                            {{ status.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>
                            <!--end card-body-->
                            <div class="card-body">
                                <div class="table-responsive table-card">
                                    <table id="jobCandidatesTable"
                                           class="table table-nowrap align-middle table-borderless mb-0"
                                           data-server-side="true"
                                           data-ajax="/api/candidates/?job={{ job.id }}&format=datatables">
                                        <thead class="table-light text-muted">
                                            <tr>
                                                <th scope="col" data-data="id" data-name="id">ID</th>
                                                <th scope="col" data-data="name" data-name="first_name, last_name">Name</th>
                                                <th scope="col" data-data="email" data-name="email">Email</th>
                                                <th scope="col" data-data="status_name" data-name="status">Status</th>
                                                <th scope="col" data-data="status" data-name="status">Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title flex-grow-1 mb-0">Users</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-10 col-md-12 offset-1">
                                        <div class="from-group  mb-5 mb-lg-0">
                                            <select multiple="multiple" name="favorite_fruits" id="fruit_select">
                                                {% for i in team_user %}
                                                    <option value="{{ i.id }}" {% if i.id in selected_user %} selected{% endif %}>
                                                        {{ i.first_name }}{{ i.last_name }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-12  pt-3 text-right" style="text-align: right;">
                                            <button type="submit" id="submit" class="btn btn-primary float-right">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Job Detail</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                    <li class="fw-medium fs-14">{{ job.name }} by {{ job.company_name }}</li>
                                    <li>{{ job.domain }}</li>
                                    <li title="Contact">{{ job.person_name }}</li>
                                    <li title="Contact">{{ job.team.name }}</li>
                                    <li>
                                        <h5>
                                            <span class="badge {% if job.status == job.Status.OPEN %} badge-soft-secondary {% elif job.status == job.Status.CLOSED %} badge-soft-danger {% else %} badge-soft-success {% endif %} text-uppercase">{{ job.get_status_display }}</span>
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        <!-- Modal FORM for ADD Single Candidate -->
        <div id="singleCandidate"
             class="modal fade"
             tabindex="-1"
             aria-labelledby="singleCandidateLabel"
             aria-hidden="true"
             style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form action="" id="candidateForm" data-job="{{ job.id }}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="singleCandidateLabel">Single Candidate</h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <label for="id_first_name" class="">LinkedIn</label>
                                        <div class="input-group mb-3">
                                            <input name="linkedIn" type="text" class="form-control">
                                            <button type="button" class="btn btn-success btn-populate">Populate</button>
                                            <button type="button" class="btn btn-success btn-load d-none">
                                                <span class="d-flex align-items-center">
                                                    <span class="flex-grow-1 me-2">Loading...</span>
                                                    <span class="spinner-border flex-shrink-0" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">{{ candidate_form.first_name|as_crispy_field }}</div>
                                    <input type="hidden" name="job" value="{{ job.id }}">
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">{{ candidate_form.last_name|as_crispy_field }}</div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        {{ candidate_form.email|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ candidate_form.email2|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ candidate_form.email3|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        {{ candidate_form.resume_sent|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        {{ candidate_form.notes|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light close-btn" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- Modal FORM for ADD Bulk Candidates -->
        <div id="bulkCandidate"
             class="modal fade"
             tabindex="-1"
             aria-labelledby="bulkCandidateLabel"
             aria-hidden="true"
             style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form action="" id="bulkCandidateForm" data-job="{{ job.id }}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="bulkCandidateLabel">
                                Bulk Candidate
                            </h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div id="div_id_linkedin" class="form-group">
                                            <label for="id_linkedin" class="">
                                                LinkedIn
                                            </label>
                                            <div>
                                                <textarea name="linkedin"
                                                          cols="40"
                                                          rows="10"
                                                          class="textarea form-control"
                                                          id="id_linkedin"
                                                          spellcheck="false"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 offset-lg-4">
                                    <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item list-group-fill-light">
                                            Report
                                        </li>
                                        <li class="list-group-item">
                                            <span class="total-created">0</span> Created
                                        </li>
                                        <li class="list-group-item">
                                            <span class="total-failed">0</span> Not Created
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light close-btn" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary btn-bulk-create">
                                Create Candidates
                            </button>
                            <button type="button" class="btn btn-primary btn-load d-none">
                                <span class="d-flex align-items-center">
                                    <span class="flex-grow-1 me-2">
                                        Loading...
                                    </span>
                                    <span class="spinner-border flex-shrink-0" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- Modal FORM for Change Status -->
        <div id="changeStatus"
             class="modal fade"
             tabindex="-1"
             aria-labelledby="changeStatusLabel"
             aria-hidden="true"
             style="display: none;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form action="" id="changeStatusForm" data-job="{{ job.id }}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="changeStatusLabel">
                                Change Candidate Status
                            </h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <input type="hidden" name="candidate_id">
                                        <select class="form-control"
                                                data-choices
                                                data-choices-search-false
                                                name="change_status">
                                            {% for status in statuses %}
                                                <option value="{{ status.id }}">
                                                    {{ status.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light close-btn" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Update
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- Modal FORM for ADD CSV Candidates -->
        <div id="csvCandidate"
             class="modal fade"
             tabindex="-1"
             aria-labelledby="csvCandidateLabel"
             aria-hidden="true"
             style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form action=""
                          id="csvCandidateForm"
                          data-job="{{ job.id }}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="csvCandidateLabel">
                                Create Candidates through CSV
                            </h5>
                            <button type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <div id="div_id_csv" class="form-group">
                                            <p align="right">
                                                <a href="{% static 'samplefiles/sample_file.csv' %}" download="">Download SampleFile</a>
                                            </p>
                                            <label for="id_csv" class="">
                                                Csv
                                            </label>
                                            <div>
                                                <input type="file"
                                                       name="csv"
                                                       class="file form-control"
                                                       id="id_csv"
                                                       required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 offset-lg-4">
                                    <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item list-group-fill-light">
                                            Report
                                        </li>
                                        <li class="list-group-item">
                                            <span class="total-created">0</span> Created
                                        </li>
                                        <li class="list-group-item">
                                            <span class="total-failed">0</span> Not Created
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light close-btn" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary btn-bulk-create">
                                Create Candidates
                            </button>
                            <button type="button" class="btn btn-primary btn-load d-none">
                                <span class="d-flex align-items-center">
                                    <span class="flex-grow-1 me-2">
                                        Loading...
                                    </span>
                                    <span class="spinner-border flex-shrink-0" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- End Modal FORM for  CSV Candidates -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!--multi js-->
    <script src="https://laravel.spruko.com/dashtic/Horizontal-Dark-ltr/assets/plugins/sumoselect/jquery.sumoselect.js"></script>
    <script src="https://laravel.spruko.com/dashtic/Horizontal-Dark-ltr/assets/plugins/jQuerytransfer/jquery.transfer.js"></script>
    <script src="https://laravel.spruko.com/dashtic/Horizontal-Dark-ltr/assets/plugins/multi/multi.min.js"></script>
    <script src="{% static 'js/multiselect/custom_multiselect.js' %}"></script>
    <!-- end js -->
    <script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
    <script>
    $(document).ready(function() {
        var table = $('#jobCandidatesTable').DataTable( {
            "dom": 'lrtip',
            "columnDefs": [
                {
                    // Hide the ID column
                    targets: 0,
                    visible: false,
                    searchable: false,
                },
                {
                    targets: 3,
                    render: function(data, type, row){
                        let className = 'btn-soft-primary'
                        // If Status is Email Not Found or Cancelled
                        if(row.status === 3 || row.status === 5) className = 'btn-soft-danger'
                        if(row.status === 2 || row.status === 4) className = 'btn-soft-success'


                        return `
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm ${className}">${row.status_name }</button>
                            <button type="button" class="btn btn-sm ${className} dropdown-toggle-split change-status" data-id="${row.id}" data-bs-toggle="modal" data-bs-target="#changeStatus">
                                <i class="ri-pencil-fill fs-16"></i>
                            </button>
                        </div>
                        `
                    }
                },
                {
                    // Hide the Status column
                    targets: 4,
                    visible: false,
                },
                {
                    // Remove searchable for action column
                    targets: 5,
                    searchable: false,
                },
                {
                    // The `data` parameter refers to the data for the cell.
                    // The `rows`argument is an object representing all the data for the current row.
                    "render": function ( data, type, row ) {

                        let viewCandidateURL = "{% url 'candidates:candidate_edit' pk=0 %}"
                        let editCandidateURL = "{% url 'candidates:candidate_edit' pk=0 %}"

                        return `<ul class="list-inline hstack gap-2 mb-0">
                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                <a href="${viewCandidateURL.replace('0', row.id)}" class="text-primary d-inline-block">
                                    <i class="ri-eye-fill fs-16"></i>
                                </a>
                            </li>

                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                <a href="${editCandidateURL.replace('0', row.id)}" class="text-primary d-inline-block edit-item-btn">
                                    <i class="ri-pencil-fill fs-16"></i>
                                </a>
                            </li>

                        </ul>`
                    },
                    "targets": -1  // -1 is the last column, 0 the first, 1 the second, etc.
                }
            ]
        } );

        $('#searchInput').on( 'keyup', function () {
            table.search( this.value ).draw();
        } );

        $('#statusInput').on('change', function() {
            console.log(this.value)
            table
            .columns( 4 )
            .search( this.value )
            .draw();
        });

        $('#candidateForm').submit(function(e){
            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            $.ajax({
                type: "POST",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: '/api/candidates/',
                data: form.serialize(), // serializes the form's elements.
                success: (response) => {
                    console.log(response);
                    table.ajax.reload(null, false);
                    form.trigger("reset");
                    $('.close-btn').trigger('click')
                },
                error: (xhr, status, error) => {
                    // Handle Ajax Error for API
                    var err = eval("(" + xhr.responseText + ")");
                    console.error(err)
                    if(Object.keys(err).length){
                        Object.keys(err).forEach((field) => {
                            Toastify({
                                text: `${field}: ${err[field]}`,
                                className: 'bg-danger',
                                style: {
                                  'text-transform': "capitalize",
                                },
                            }).showToast();
                        })

                    } else {
                        Toastify({
                          text: "Oops something went wrong.",
                          className: 'bg-danger'
                        }).showToast();
                    }
                }
            });
        })

        $('#jobCandidatesTable').on('click', '.change-status', function(event){
            event.preventDefault();
            let candidateId = $(this).data('id')
            console.log(candidateId)
            $('input[name="candidate_id"]').val(candidateId)
        });

        $('#changeStatusForm').submit(function(e){
            e.preventDefault(); // avoid to execute the actual submit of the form.
            let candidateId = $('input[name="candidate_id"]').val()
            var form = $(this);
            $.ajax({
                type: "PATCH",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: `/api/candidates/${candidateId}/`,
                data: {'status': $('select[name="change_status"]').val()}, // serializes the form's elements.
                success: function(response)
                {
                    console.log(response)
                    table.ajax.reload(null, false);
                    form.trigger("reset");
                    $('.close-btn').trigger('click')
                }
            });
        })

        $('.btn-populate').click(function(e){

            let linkedIn = $('input[name="linkedIn"]').val()
            if(linkedIn){
                $(this).addClass('d-none')
                $('.btn-load').removeClass('d-none')
            }
                $.ajax({
                    type: "GET",
                    headers: { "X-CSRFToken": '{{csrf_token}}' },
                    url: `/api/candidates/get-linkedin-profile/`,
                    data: {'linkedin_url': linkedIn},
                    success: function(response)
                    {
                        $('.btn-populate').removeClass('d-none')
                        $('.btn-load').addClass('d-none')
                        console.log(response)
                        $('input[name="first_name"]').val(response?.first_name || '')
                        $('input[name="last_name"]').val(response?.last_name || '')
                        $('input[name="email"]').val(response?.email || '')
                    }
                });
        })

        // Bulk Create Candidates from LinkedIn URLs
        $('#bulkCandidateForm').submit(function(e){
            e.preventDefault(); // avoid to execute the actual submit of the form.

            $('.btn-load').removeClass('d-none');
            $('.btn-bulk-create').addClass('d-none');

            var form = $(this);
            let jobId = form.data('job')
            $.ajax({
                type: "POST",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: `/api/candidates/bulk-create-linkedin-profile/?job=${jobId}`,
                data: form.serialize(), // serializes the form's elements.
                success: function(response)
                {
                    $('.btn-load').addClass('d-none');
                    $('.btn-bulk-create').removeClass('d-none');
                    console.log(response); // show response from the php script.
                    table.ajax.reload(null, false);
                    form.trigger("reset");

                    $('.total-created').text(response?.created || 0)
                    $('.total-failed').text(response?.failed || 0)
                }
            });
        })

        $('.add-bulk').click(function(){
            // Reset the numbers when open the add bulk candidate modal
            $('.total-created').text(0)
            $('.total-failed').text(0)
        })

          // Bulk Create Candidates from Csv
        $('#csvCandidateForm').submit(function(e){
            e.preventDefault(); // avoid to execute the actual submit of the form.

            $('.btn-load').removeClass('d-none');
            $('.btn-bulk-create').addClass('d-none');

            var form = $(this);
            var formData = new FormData(form[0]);
            let jobId = form.data('job')
            $.ajax({
                type: "POST",
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                url: `/api/candidates/bulk-create-csv/?job=${jobId}`,
                data: formData, // serializes the form's elements.
                contentType: false, //this is requireded please see answers above
                 processData: false,
                success: function(response)
                {
                    $('.btn-load').addClass('d-none');
                    $('.btn-bulk-create').removeClass('d-none');
                    console.log(response); // show response from the php script.
                    table.ajax.reload(null, false);
                    form.trigger("reset");

                    $('.total-created').text(response?.created || 0)
                    $('.total-failed').text(response?.failed || 0)
                    if (response.status === 'error'){
                        Toastify({
                          text: response?.error || 0 ,
                          className: 'bg-danger'
                        }).showToast();
                    }
                }
            });
        })


        $(document).ready(function() {
            $('#submit').click(function() {
                var selected = $('#fruit_select').val();
                if (selected.length < 1){
                        Toastify({
                              text: 'Please! Select User ',
                              className: 'bg-danger'
                            }).showToast();
                 return false;
                }
                let jobId = "{{job.id}}";
                $.ajax({
                    type: "GET",
                    url: `/api/candidates/assign-job-to-user/?job=${jobId}`,
                    data: {'user_id':selected}, // serializes the form's elements.
                    success: function(response)
                    {
                          if (response.status === 'success'){
                            Toastify({
                              text: 'Successfully'+' '+response?.created || 0,
                              className: 'bg-success'
                            }).showToast();
                         }

                        if (response.status === 'error'){
                            Toastify({
                              text: response?.error || 0 ,
                              className: 'bg-danger'
                            }).showToast();
                        }
                    }
                });

            })
        });

    } );
    </script>
{% endblock extra_js %}
